@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Kanit', sans-serif, FontAwesome;
}

/* Color Palette */
$redCrayola: #ED254E;
$naplesYellow: #F9DC5C;
$teaGreen: #C2EABD;
$oxfordBlue: #011936;
$Charcoal: #465362;

body {
    background-color: $oxfordBlue;
    padding: 0.5rem;
    .container {
        width: 750px; height: auto;
        position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
        padding: 1em; text-align: center;       
        background-color: $teaGreen; border-radius: 10px; box-shadow:  0px 0px 5px 5px $Charcoal;
        #title {
            text-transform: uppercase; font-size: 16px; font-weight: bold;
            color: $oxfordBlue;
        }
        span { cursor: default; }

        /* Box Shadow Options */
        .shadow-options {
            display: flex; align-items: center; justify-content: center;
            flex-wrap: wrap; flex-direction: row; margin-top: 5px;            
            .column {                
                width: 50%; height: 195px;
                padding: 5px; border-radius: 5px;
                background-color: $redCrayola; color: white;

                .input-group { /* Range Divs */
                    justify-content: center;      
                    margin-bottom: 5px; 
                    label {
                        width: 100%; display: inline-block;
                        font-size: 15px;
                        margin-bottom: 0;
                    }   

                    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                    input[type=number] {
                        width: 20px;
                        appearance: none; -moz-appearance: textfield;
                        text-align: center; font-size: 9px;
                        border: 0; margin: 0 !important; border-radius: 5px !important;
                    }        
                    .form-range {
                        width: 85%; cursor: pointer;
                        margin-left: 10px !important;                                             
                    }
                }
                .bs-color { /* Input Color Div */
                    label { 
                        width: auto; 
                        margin-right: 15px;
                    }
                    input[type = color] {                       
                        width: 50px; height: 25px;
                        appearance: none; border: none;
                        cursor: pointer; transition: 0.25s;
                        &:hover { scale: 1.05; }
                    }
                }
                .form-check { /* Switch Div */
                    display: flex; align-items: center; justify-content: center;
                    margin: 0; padding: 0;
                    
                    label { font-size: 18px; }
                    input {
                        cursor: pointer;
                        margin-inline: 15px; margin-top: 0;
                    }                    
                }
            }
        }

        /* Box Shadow Preview */
        .shadow-res {
            margin: 20px 0;
            .box-shadow-preview {
                display: flex; align-items: center; justify-content: center;
                width: 150px; height: 150px; position: relative;
                background-color: $naplesYellow; border: 1px solid $Charcoal; margin: auto;                   
                span {
                    font-size: 12px;
                    opacity: .5;
                }
            }
        }

        .shadow-code {
            display: flex; align-items: center;
            margin: 10px 0; 
            .form-floating {
                width: 90%;
                textarea {
                    border: 1px solid $oxfordBlue; border-radius: 5px; color: $oxfordBlue;
                    overflow: hidden; resize: none; cursor: copy;
                    font-size: 15px;
                } 
                label { font-size: 13px; }
            }
            button {
                background-color: $redCrayola;
                margin-left: 20px; transition: 0.25s;
                &:hover { 
                    background-color: var(--bs-btn-hover-bg); 
                    scale: 1.05;
                }
            }
        }
    }
}

@media screen and (max-width: 834px) {
    .container { width: 470px !important; }
    .shadow-code {
        .form-floating {
            width: 95%;
            textarea { overflow: visible !important; }
            label { font-size: 11px !important; }
        }
        button { margin-left: 10px !important; }
    }   
}